html {

    --font-main: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    --nav-font: 'Saira Extra Condensed', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    --color-nav: #0d6efd;
    --color-button-toggle: #0350c4;
    --color-main: #f8f9fa;
    --color-head-foot: #f8f9fa;
    --color-secondary: #181719;
    --color-secondary-after: #6c757d;

    scroll-behavior: smooth;

}

/* Dark Mode */

html[data-theme="dark"] {

    --color-main: #161625;
    --color-secondary: #e1e1ff;
    --color-secondary-after: #e1e1ff;

}

.theme-switch-wrapper {
    display: flex;
    align-items: center;

  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: var(--color-button-toggle);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

@font-face {
    font-family: "Saira Extra Condensed";
    src: url("../fonts/SairaExtraCondensed-Bold.ttf");
  }

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

